@model IEnumerable<Application_DbAccess.MovieSet>
<h3  id="title">Movie Lists</h3>
<div>
    @foreach(var item in Model)
    {
        <h5><a asp-area="" asp-controller="MovieSets" asp-action="Details" asp-route-id="@item.MovieSetID">@item.SetName</a></h5>
    }
</div>